<div class="container">

<%- model_class = Startup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="row">


<div class="col-md-2">
  <div class="form-group">
  <%= link_to 'Add your Startup',new_startup_path, :class => 'btn btn-success' %>
  </div>
</div>


<div class="col-md-6 col-md-offset-4">
<%= search_form_for @search do |f| %>
  <div class="form-group">
    <div class="col-md-offset-3 col-lg-5">
    <%= f.search_field :startup_name_cont, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Search by Startup", :class => 'btn btn-default' %>
  </div>
<% end %>
</div>


</div>


<br />
<br />
<br />






<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= sort_link @search, :startup_name, "Startup Name" %></th>
      <th><%= sort_link @search, :generation, "Generation" %></th>
      <th><%= sort_link @search, :contact_name, "Contact Name" %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= sort_link @search, :industry, "Industry" %></th>
      <th><%= sort_link @search, :tribe, "Tribe" %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        
        <td><%= startup.startup_name %></td>
        <td><%= startup.generation %></td>
        <td><%= startup.contact_name %></td>
        <td><%= startup.email %></td>
        <td><%= startup.industry %></td>
        <td><%= startup.tribe %></td>
        <td><%= startup.country %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_startup_path(startup), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      startup_path(startup),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>